# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.metadata/*

operativos-pre-tp/\.metadata/\.plugins/org\.eclipse\.cdt\.managedbuilder\.core/

tp/\.metadata/\.plugins/org\.eclipse\.cdt\.managedbuilder\.core/

operativos-pre-tp/saraza/\.metadata/\.plugins/org\.eclipse\.cdt\.managedbuilder\.core/

operativos-pre-tp/cli-ser-guia-beej/\.metadata/\.plugins/org\.eclipse\.cdt\.managedbuilder\.core/

operativos-pre-tp/cli-ser-headers-select/\.metadata/\.plugins/org\.eclipse\.cdt\.managedbuilder\.core/

operativos-pre-tp/cli-ser-headers/\.metadata/\.plugins/org\.eclipse\.cdt\.managedbuilder\.core/

operativos-pre-tp/guia_ejercicios_r/\.metadata/\.plugins/org\.eclipse\.cdt\.managedbuilder\.core/

tp/.metadata/.log

tp/.metadata/.plugins/org.eclipse.core.resources/.projects/coordinador/.indexes/properties.index

tp/.metadata/version.ini

