[submodule "operativos-pre-tp/guia_ejercicios_r/guia_ejercicio_1/src/so-commons-library"]
	url = https://github.com/sisoputnfrba/so-commons-library.git
[submodule "operativos-pre-tp/guia_ejercicios_r/so-commons-library"]
	url = https://github.com/sisoputnfrba/so-commons-library.git
[submodule "operativos-pre-tp/cli-ser-guia-beej/so-commons-library"]
	url = https://github.com/sisoputnfrba/so-commons-library.git
[submodule "tp/coordinador/so-commons-library"]
	url = https://github.com/sisoputnfrba/so-commons-library.git
[submodule "tp/esi/so-commons-library"]
	url = https://github.com/sisoputnfrba/so-commons-library.git
[submodule "tp/instancia/so-commons-library"]
	url = https://github.com/sisoputnfrba/so-commons-library.git
[submodule "tp/planificador/so-commons-library"]
	url = https://github.com/sisoputnfrba/so-commons-library.git
[submodule "tp/esi/parsi"] 
  	url = https://github.com/sisoputnfrba/parsi.git
